---
- name: get all hosts fingure print to know_hosts file
  connection: local
  shell: "ssh-keyscan -H all >> ~/.ssh/known_hosts"
 
- name: install ssh key
  authorized_key: user=vagrant
    key="{{lookup('file', '/home/vagrant/.ssh/id_rsa.pub')}}" 
    state=present
      
- name: update all packages to latest version
  become: yes
  command: apt-get update